* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    margin: 0px auto;
    background-color: whitesmoke;
   
  }
  .header {
    color: rgb(16, 0, 54);
    font-size: 70px;
    font-family: cursive;
    margin-top: 0px;
  }
  .counter {
    font-size: 40px;
    color: rgb(116, 7, 7);
  }
  span {
    color: rgb(16, 0, 54);
    font-family: cursive;
    font-size: 55px;
  }
  btn-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
  }
  .btn {
    font-size: 20px;
    padding: 20px 30px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
  
    border-radius: 20%;
    margin: 10px;
  }
  .btn:hover {
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
  }
  .reset {
    width: 110px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 30px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
    border-radius: 10%;
  }
  .reset:hover {
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
  }
  .btn:active {
    background-color: rgb(116, 7, 7);
  }
  
  .reset:active {
    background-color: rgb(116, 7, 7);
  }
  
  .wrapper-home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    margin: 0px auto;
   background-color: whitesmoke;
  
}
  .countify{
    font-size: 100px;
    color: rgb(16, 0, 54);
    font-family: cursive;
    margin-top: 80px;
  }
  .message{
    font-size: 20px;
    color: rgb(16, 0, 54);
    font-family: cursive;
    margin-top: 10px;
  }
  .link{
    font-size: 25px;
    margin-top: 80px;
    text-decoration: none;
  }
  .link:hover{
    font-size: 27px;
    color: rgb(116, 7, 7);
  }
  .link:active{
    font-size: 27px;
    color: rgb(16, 0, 54);
  }
  .error-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    margin: 0px auto;
    background-color: whitesmoke;
  }
  .error-head{
    font-size: 100px;
    color: rgb(16, 0, 54);
    font-family: cursive;
    margin-top: 80px;
  }

  